body{
    margin:0;
    font-family:Arial, sans-serif;
    background:linear-gradient(135deg,#0b3d91,#5dade2);
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    text-align:center;
}

.portada{
    padding:30px;
}

h1{
    font-size:55px;
}

p{
    font-size:22px;
    margin:20px 0;
}

button{
    padding:15px 40px;
    font-size:20px;
    border:none;
    border-radius:30px;
    cursor:pointer;
}
